<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">

            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            
            {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
            use both the "grid" and "grid-Ncol" class where "N" can be any number
            from 1 to 12 and will create that number of columns.  --}}

            <div class="resources grid grid-4col">
              {{!-- "flex-group-center" is also defined in the _grid.scss file
              and it will add a small amount of padding, a border, and will
              center all of its child elements content and text. --}}

              <div class="resource flex-group-center">
                  <label for="data.health.value" class="resource-label">Health</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="data.health.value" value="{{data.data.health.value}}" data-dtype="Number"/>
                    <span> / </span>
                    <input type="text" name="data.health.max" value="{{data.data.health.max}}" data-dtype="Number"/>
                  </div>
                  <div style="padding-top: 10px;">Temp HP <input style="width: 25%;" type="text" name="data.health.temp" value="{{data.data.health.temp}}" data-dtype="Number"/>
                  </div>
              </div>

              <div class="resource flex-group-center">
                  <label for="data.ac.value" class="resource-label">AC</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="data.ac.value" value="{{data.data.ac.value}}" data-dtype="Number"/>
                  </div>
                  <div style="padding-top: 10px;">Temp AC <input style="width: 25%;" type="text" name="data.ac.temp" value="{{data.data.ac.temp}}" data-dtype="Number"/>
                  </div>
              </div>

              <div class="resource flex-group-center">
                <label for="data.attributes.initBonus.value">Init Bonus</label>
                <input type="text" name="data.attributes.initBonus.value" value="{{data.data.attributes.initBonus.value}}" data-dtype="Number"/>
                <label for="data.attributes.attackBonus.value">Atk Bonus</label>
                <input type="text" name="data.attributes.attackBonus.value" value="{{data.data.attributes.attackBonus.value}}" data-dtype="Number"/>
              </div>

              <div class="resource flex-group-center">
                <label for="data.attributes.critRange.value" class="resource-label">Crit Range</label>
                <select name="data.attributes.critRange.value" data-dtype="String">
                  {{#select actor.data.data.attributes.critRange.value}}
                  <option value="20">20</option>
                  <option value="19-20">19-20</option>
                  <option value="18-20">18-20</option>
                  {{/select}}
                </select>
                <div style="padding-top: 15px;">
                  <label for="data.attributes.favour" class="resource-label">Favour</label>
                  <div><input type="checkbox" name="data.attributes.favour" {{checked data.data.attributes.favour}} data-dtype="Boolean"/></div>
                </div>
              </div>

            </div>

            <div class="resources grid grid-3col">
              
              <div class="resource  flex-group-center">
                <label 
                  for="data.resources.luck.value" 
                  class="resource-label rollable-luck" 
                  data-resource="luck" 
                  data-roll="1d20"
                  data-value="{{data.data.resources.luck.value}}" 
                  data-label="Luck"
                >
                  Luck
                </label>
                <span>
                  <select style="height: 35%;" id="luck-modifier">
                    <option data-attr="" data-mod="0">  </option>
                    {{#each data.data.abilities}}
                      <option data-attr="{{@key}}" data-mod="{{mod}}">{{@key}}</option>
                    {{/each}}
                  </select>
                </span>
                <div class="resource-content flexrow flex-center flex-between" style="padding-top: 10px;">
                  <input type="text" name="data.resources.luck.value" value="{{data.data.resources.luck.value}}" data-dtype="Number"/>
                  <span> / </span>
                  <input type="text" name="data.resources.luck.max" value="{{data.data.resources.luck.max}}" data-dtype="Number"/>
                </div>
              </div>

              <div class="resource flex-group-center">
                <label for="data.resources.reroll.value" class="resource-label">Reroll</label>
                  <div class="resource-content flexrow flex-center flex-between" style="padding-top: 10px;">
                    <input type="text" name="data.resources.reroll.value" value="{{data.data.resources.reroll.value}}" data-dtype="Number"/>
                    <span> / </span>
                    <input type="text" name="data.resources.reroll.max" value="{{data.data.resources.reroll.max}}" data-dtype="Number"/>
                  </div>
              </div>

              <div class="resource flex-group-center">
                <label for="data.resources.rests" class="resource-label">Rests</label>
                <div class="resource-content flexrow flex-center flex-between">
                  <input type="checkbox" name="data.resources.rests.oneWill" {{checked data.data.resources.rests.oneWill}} data-dtype="Boolean"/><label for="data.resources.rests.oneWill" style="font-size:90%">1X Will</label>
                  <input type="checkbox" name="data.resources.rests.twoWill" {{checked data.data.resources.rests.twoWill}} data-dtype="Boolean"/><label for="data.resources.rests.twoWill" style="font-size:90%">2X Will</label>
                  <input type="checkbox" name="data.resources.rests.threeWill" {{checked data.data.resources.rests.threeWill}} data-dtype="Boolean"/><label for="data.resources.rests.threeWill" style="font-size:90%">3X Will</label>
                </div>
              </div>

            </div>

        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
        <a class="item" data-tab="skills">Skills</a>
        <a class="item" data-tab="items">Equipment</a>
        <a class="item" data-tab="features">Features</a>
        <a class="item" data-tab="spells">Spells</a>
        <a class="item" data-tab="effects">Effects</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
          <div class="resources grid grid-4col">
            <div class="resource-content flex-group-center">
              <label for="data.about.race" class="resource-label">Race</label>
              <input class="resource-content" type="text" name="data.about.race" value="{{data.data.about.race}}" data-dtype="String"/>
            </div>

            <div class="resource-content flex-group-center">
              <label for="data.about.background" class="resource-label">Background</label>
              <input class="resource-content" type="text" name="data.about.background" value="{{data.data.about.background}}" data-dtype="String"/>
            </div>

            <div class="resource-content flex-group-center">
              <label for="data.about.class" class="resource-label">Class</label>
              <input class="resource-content" type="text" name="data.about.class" value="{{data.data.about.class}}" data-dtype="String"/>
            </div>

            <div class="resource-content flex-group-center">
              <label for="data.about.level.value" class="resource-label">Level</label>
              <input class="resource-content" type="text" name="data.about.level.value" value="{{data.data.about.level.value}}" data-dtype="Number"/>
            </div>
          </div>

            {{editor content=data.data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab items" data-group="primary" data-tab="attributes">
            <div>
              <div class="ability flexrow flex-group-center">
                <span style="font-size:90%"><strong>Ability</strong></span>
                <span style="font-size:90%"><strong>Base</strong></span>
                <span style="font-size:90%"><strong>Current</strong></span>
                <span style="font-size:90%"><strong>Modifier</strong></span>
                <span style="font-size:90%"><strong>Great Success</strong></span>
                <span style="font-size:90%"><strong>Terrible Failure</strong></span>
              </div>
              {{#each data.data.abilities as |ability key|}}
                <div class="ability flexrow flex-group-center">
                  <label 
                    for="data.abilities.{{key}}.value" 
                    class="resource-label rollable" 
                    data-value="{{ability.value}}" 
                    data-label="{{key}}"
                  >
                    {{key}}
                  </label>
                  <input style="width: 25%;" type="text" name="data.abilities.{{key}}.base" value="{{ability.base}}" data-dtype="Number"/>
                  <input style="width: 25%;" type="text" name="data.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
                  <span class="ability-mod" data-label="{{key}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
                  <span data-label="{{key}}"><strong>{{numberFormat ability.gs decimals=0 sign=false}}</strong></span>
                  <span data-label="{{key}}"><strong>{{numberFormat ability.tf decimals=0 sign=false}}</strong></span>
                </div>
              {{/each}}
            </div>
        </div>

        {{!-- Skills Tab --}}
        <div class="tab items" data-group="primary" data-tab="skills">
            <div>
              <div class="border grid grid-4col skill-grid">
                <div class="grid-item" ></div>
                <div class="grid-item">Skilled</div>
                <div class="grid-item">Great Success</div>
                <div class="grid-item">Terrible Failure</div>
              </div>
              {{#each data.data.skills as |skill key|}}
                <div class="border grid grid-4col skill-grid">
                  <label 
                    for="data.skills.{{key}}.value" 
                    class="resource skill-label rollable grid-item" 
                    data-value="{{skill.value}}"
                    data-skilled="{{skill.skilled}}" 
                    data-label="{{key}}"
                  >
                    {{key}}
                  </label>
                  <input class="skill-proficient grid-item" type="checkbox" name="data.skills.{{key}}.skill" {{#if skill.skilled}} checked {{/if}} value="{{skill.skilled}}" data-skill="{{key}}"/>
                  <div class="grid-item" data-label="{{key}}"><strong>{{numberFormat skill.gs decimals=0 sign=false}}</strong></div>
                  <div class="grid-item" data-label="{{key}}"><strong>{{numberFormat skill.tf decimals=0 sign=false}}</strong></div>
                </div>
             {{/each}}
            </div>
        </div>



        {{!-- Equipment Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
          <div class="resources grid grid-2col">
            <div class="resource-content flex-group-center">
              <label for="data.resources.gold.value" class="resource-label">Gold</label>
              <input class="resource-content" type="text" name="data.resources.gold.value" value="{{data.data.resources.gold.value}}" data-dtype="Number"/>
            </div>

            <div class="resource-content flex-group-center">
              <label for="data.resources.rations.value" class="resource-label">Rations</label>
              <input class="resource-content" type="text" name="data.resources.rations.value" value="{{data.data.resources.rations.value}}" data-dtype="Number"/>
            </div>
          </div>

          <div>
            <label for="weapons" class="resource-label">Weapons</label>
            <ol class="item-list">
                <li class="item flexrow item-header">
                  <div class="item-image"></div>
                  <div class="item-name">Name</div>
                  <div class="item-amt">Ammo/Charges/Number</div>
                  <div class="item-controls">
                    <a class="item-control item-create" title="Create item" data-type="weapon"><i class="fas fa-plus"></i> Add Wpn</a>
                  </div>
                </li>
            {{#each actor.weapons as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                    <h4 class="item-name weapon-chat">{{item.name}}</h4>
                    <div class="item-amt">{{data.ammo}} &emsp;
                      <a class="item-control item-add" title="Add Ammo/Charges/Amt"><i class="fas fa-plus"></i></a>
                      <a class="item-control item-subtract" title="Subtract Ammo/Charges/Amt"><i class="fas fa-minus"></i></a>
                    </div>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
          </div>

          <div>
            <label for="items" class="resource-label">Items</label>
            <ol class="item-list">
                <li class="item flexrow item-header">
                  <div class="item-image"></div>
                  <div class="item-name">Name</div>
                  <div class="item-amt">Charges/Number</div>
                  <div class="item-controls">
                    <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add Item</a>
                  </div>
                </li>
            {{#each actor.gear as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                    <h4 class="item-name item-chat">{{item.name}}</h4>
                    <div class="item-amt">{{data.quantity}} &emsp;
                      <a class="item-control item-add" title="Add Ammo/Charges/Amt"><i class="fas fa-plus"></i></a>
                      <a class="item-control item-subtract" title="Subtract Ammo/Charges/Amt"><i class="fas fa-minus"></i></a>
                    </div>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
          </div>

        </div>

        {{!-- Features and Skills Tab --}}
        <div class="tab features" data-group="primary" data-tab="features">
          <div>
            <label for="features" class="resource-label">Features</label>
            <ol class="item-list">
              <li class="item flexrow item-header">
                <div class="item-image"></div>
                <div class="item-name">Name</div>
                <div class="item-controls">
                  <a class="item-control item-create" title="Create item" data-type="feature"><i class="fas fa-plus"></i> Add Ability</a>
                </div>
              </li>
          {{#each actor.features as |item id|}}
              <li class="item flexrow" data-item-id="{{item._id}}">
                  <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                  <h4 class="item-name item-chat">{{item.name}}</h4>
                  <div class="item-controls">
                      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                  </div>
              </li>
          {{/each}}
          </ol>
          </div>
        </div>

        {{!-- Spells Tab --}}
        <div class="tab spells" data-group="primary" data-tab="spells">
          <div class="grid grid-4col" style="padding-left: 30px;">
              {{#each data.data.spellSlots as |slot key|}}
                  <div class="item-name" style="padding:0;">
                      {{key}} Spell Slots
                      <input style="width: 5%;" type="text" name="data.spellSlots.{{key}}.current" value="{{slot.current}}" data-dtype="Number" /> / <input style="width: 5%;" type="text" name="data.spellSlots.{{key}}.max" value="{{slot.max}}" data-dtype="Number" />
                  </div>
              {{/each}}
          </div>
                <ol class="item-list">
                  <li class="item flexrow item-header">
                    <div class="item-image"></div>
                    <div class="item-name">Name</div>
                    <div class="item-controls"></div>
                  </li>
                  {{#each actor.spells as |spells spellLevel|}}
                  <li class="item flexrow item-header">
                    <div class="item-name">Level {{spellLevel}} Spells</div>
                      <div class="item-controls">
                        <a class="item-control item-create" title="Create item" data-type="spell" data-spell-level="{{spellLevel}}"><i class="fas fa-plus"></i> Add LVL {{spellLevel}}</a>
                      </div>
                    </li>
                      {{#each spells as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                            <h4 class="item-name spell-chat">{{item.name}}</h4>
                            <div class="item-controls">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                      {{/each}}
                    {{/each}}
              </ol>
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects" data-group="primary" data-tab="effects">
          <div class="resources grid grid-2col">
            <div class="resource-content flex-group-center">
              <label
              for="data.effects.ddm.value" 
              class="resource-label rollable-ddm" 
              data-resource="ddm" 
              data-roll="1d20"
              data-value="{{data.data.effects.ddm.value}}" 
              data-label="DDM">Dark and Dangerous Magic</label>
              <input class="resource-content" type="text" name="data.effects.ddm.value" value="{{data.data.effects.ddm.value}}" data-dtype="Number"/>
            </div>

            <div class="resource-content flex-group-center">
              <label for="data.effects.otherFX" class="resource-label">Other Effects</label>
              <input class="resource-content" type="text" name="data.effects.otherFX" value="{{data.data.effects.otherFX}}" data-dtype="String"/>
            </div>
          </div>

          <div>
            <label for="injSetback" class="resource-label">Injuries and Setbacks</label>
            <ol class="item-list">
                <li class="item flexrow item-header">
                  <div class="item-image"></div>
                  <div class="item-name">Name</div>
                  <div class="item-controls">
                    <a class="item-control item-create" title="Create item" data-type="injSetback"><i class="fas fa-plus"></i> Add Injury</a>
                  </div>
                </li>
            {{#each actor.injSetbacks as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                    <h4 class="item-name item-chat">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
          </div>

          <div>
            <label for="madness" class="resource-label">Madness Traits</label>
            <ol class="item-list">
                <li class="item flexrow item-header">
                  <div class="item-image"></div>
                  <div class="item-name">Name</div>
                  <div class="item-controls">
                    <a class="item-control item-create" title="Create item" data-type="madness"><i class="fas fa-plus"></i> Add Trait</a>
                  </div>
                </li>
            {{#each actor.madness as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                    <h4 class="item-name item-chat">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
          </div>

          <div>
            <label for="darkMagic" class="resource-label">Dark Magic Effects</label>
            <ol class="item-list">
                <li class="item flexrow item-header">
                  <div class="item-image"></div>
                  <div class="item-name">Name</div>
                  <div class="item-controls">
                    <a class="item-control item-create" title="Create item" data-type="darkMagic"><i class="fas fa-plus"></i> Add Effect</a>
                  </div>
                </li>
            {{#each actor.darkMagic as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                    <h4 class="item-name item-chat">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
          </div>

        </div>

    </section>
</form>

