<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">

          <h1 class="charname"><input onfocus="this.select();" name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            
            {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
            use both the "grid" and "grid-Ncol" class where "N" can be any number
            from 1 to 12 and will create that number of columns.  --}}

            <div class="resources grid grid-3col">
              {{!-- "flex-group-center" is also defined in the _grid.scss file
              and it will add a small amount of padding, a border, and will
              center all of its child elements content and text. --}}

              <div class="resource flex-group-center">
                  <label for="system.health.value" class="resource-label">Health</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input onfocus="this.select();" onfocus="this.select();" type="text" name="system.health.value" value="{{actor.system.health.value}}" data-dtype="Number"/>
                    <span> / </span>
                    <input onfocus="this.select();" type="text" name="system.health.max" value="{{actor.system.health.max}}" data-dtype="Number"/>
                  </div>
              </div>

              <div class="resource flex-group-center">
                  <label for="system.ac.value" class="resource-label">AC</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input onfocus="this.select();" type="text" name="system.ac.value" value="{{actor.system.ac.value}}" data-dtype="Number"/>
                  </div>
              </div>

              <div class="resource flex-group-center">
                <div class="resources grid grid-2col">
                  <div class="resource flex-group-center">
                    <label for="system.npcStats.hd" class="resource-label npc-rollable" data-roll="(@npcStats.hd)d8+(@npcStats.hdBonus)" data-label="Hit Dice">Hit Dice</label>
                    <input onfocus="this.select();" type="text" name="system.npcStats.hd" value="{{actor.system.npcStats.hd}}" data-dtype="Number"/>
                  </div>
                  <div class="resource flex-group-center">
                    <label for="system.npcStats.hdBonus" class="resource-label">HD Bonus</label>
                    <input onfocus="this.select();" type="text" name="system.npcStats.hdBonus" value="{{actor.system.npcStats.hdBonus}}" data-dtype="Number"/>
                  </div>
                </div>
              </div>

            </div>

            <div class="resources grid grid-3col">
              <div class="resource flex-group-center">
                <label for="system.npcStats.move" class="resource-label">Move</label>
                <input onfocus="this.select();" type="text" name="system.npcStats.move" value="{{actor.system.npcStats.move}}" data-dtype="Number"/>
              </div>
  
              <div class="resource  flex-group-center">
                <label 
                  for="system.resources.luck.value" 
                  class="resource-label npc-luck" 
                  data-resource="luck" 
                  data-roll="1d20"
                  data-value="{{actor.system.resources.luck.value}}" 
                  data-label="Luck"
                >
                  Luck
                </label>
                <span>
                  <select style="height: 35%;" id="luck-modifier">
                    <option data-attr="" data-mod="0">  </option>
                    {{#each actor.system.abilities}}
                      <option data-attr="{{@key}}" data-mod="{{mod}}">{{@key}}</option>
                    {{/each}}
                  </select>
                </span>
                <div class="resource-content flexrow flex-center flex-between">
                  <input onfocus="this.select();" type="text" name="system.resources.luck.value" value="{{actor.system.resources.luck.value}}" data-dtype="Number"/>
                </div>
              </div>
  
              <div class="resource flex-group-center">
                <label for="system.npcStats.noAppear" class="resource-label npc-rollable" data-roll="@npcStats.noAppear" data-label="Number Appearing">Appear</label>
                <input onfocus="this.select();" type="text" name="system.npcStats.noAppear" value="{{actor.system.npcStats.noAppear}}" data-dtype="String"/>
              </div>
            </div>

        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

      {{!-- NPC Attributes --}}
      <div class="resources grid grid-2col">
        <div>
          <div class="ability flexrow flex-group-center">
            <span style="font-size:90%"><strong>Ability</strong></span>
            <span style="font-size:90%"><strong>Base</strong></span>
            <span style="font-size:90%"><strong>Current</strong></span>
            <span style="font-size:90%"><strong>Modifier</strong></span>
            <span style="font-size:90%"><strong>GS</strong></span>
            <span style="font-size:90%"><strong>TF</strong></span>
          </div>
          {{#each actor.system.abilities as |ability key|}}
                <div class="ability flexrow flex-group-center">
                  <label 
                    for="system.abilities.{{key}}.value" 
                    class="resource-label rollable" 
                    data-value="{{ability.value}}" 
                    data-label="{{key}}"
                  >
                    {{key}}
                  </label>
                  <input onfocus="this.select();" type="text" name="system.abilities.{{key}}.base" value="{{ability.base}}" data-dtype="Number"/>
                  <input onfocus="this.select();" type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
                  <span class="ability-mod" data-label="{{key}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
                  <span data-label="{{key}}"><strong>{{numberFormat ability.gs decimals=0 sign=false}}</strong></span>
                  <span data-label="{{key}}"><strong>{{numberFormat ability.tf decimals=0 sign=false}}</strong></span>
                </div>
          {{/each}}
        </div>

        <div>
          {{!-- attack 1 --}}
          <div class="resources grid grid-2col">
            <label for="system.npcStats.atk1"
              data-attack="{{actor.system.npcStats.atk1}}"
              data-damage="{{actor.system.npcStats.dmg1}}"
              class="resource-label npc-attack">Attack 1</label>
            <label for="system.npcStats.dmg1" class="resource-label">Damage 1</label>
            <input onfocus="this.select();" type="text" name="system.npcStats.atk1" value="{{actor.system.npcStats.atk1}}" data-dtype="String"/>
            <input onfocus="this.select();" type="text" name="system.npcStats.dmg1" value="{{actor.system.npcStats.dmg1}}" data-dtype="String"/>
          </div>

          {{!-- attack 2 --}}
          <div class="resources grid grid-2col">
            <label for="system.npcStats.atk2" 
              data-attack="{{actor.system.npcStats.atk2}}"
              data-damage="{{actor.system.npcStats.dmg2}}"
              class="resource-label npc-attack">Attack 2</label>
            <label for="system.npcStats.dmg2" class="resource-label">Damage 2</label>
            <input onfocus="this.select();" type="text" name="system.npcStats.atk2" value="{{actor.system.npcStats.atk2}}" data-dtype="String"/>
            <input onfocus="this.select();" type="text" name="system.npcStats.dmg2" value="{{actor.system.npcStats.dmg2}}" data-dtype="String"/>
          </div>

          {{!-- attack 3 --}}
          <div class="resources grid grid-2col">
            <label for="system.npcStats.atk3" 
              data-attack="{{actor.system.npcStats.atk3}}"
              data-damage="{{actor.system.npcStats.dmg3}}"
              class="resource-label npc-attack">Attack 3</label>
            <label for="system.npcStats.dmg3" class="resource-label">Damage 3</label>
            <input onfocus="this.select();" type="text" name="system.npcStats.atk3" value="{{actor.system.npcStats.atk3}}" data-dtype="String"/>
            <input onfocus="this.select();" type="text" name="system.npcStats.dmg3" value="{{actor.system.npcStats.dmg3}}" data-dtype="String"/>
          </div>

          {{!-- attack 4 --}}
          <div class="resources grid grid-2col" style="margin-bottom: 15px;">
            <label for="system.npcStats.atk4" 
              data-attack="{{actor.system.npcStats.atk4}}"
              data-damage="{{actor.system.npcStats.dmg4}}"
              class="resource-label npc-attack">Attack 4</label>
            <label for="system.npcStats.dmg4" class="resource-label">Damage 4</label>
            <input onfocus="this.select();" type="text" name="system.npcStats.atk4" value="{{actor.system.npcStats.atk4}}" data-dtype="String"/>
            <input onfocus="this.select();" type="text" name="system.npcStats.dmg4" value="{{actor.system.npcStats.dmg4}}" data-dtype="String"/>
          </div>

          {{!-- Nat 19 --}}
            <label for="system.npcStats.npcNineteen" class="resource-label">Natural 19</label>
            <textarea style="height: 80px; font-family: Aquifer;" name="system.npcStats.npcNineteen" value="{{actor.system.npcStats.npcNineteen}}" data-dtype="String">{{actor.system.npcStats.npcNineteen}}</textarea>
          
        </div>
      </div>

      <div class="tab" data-group="primary">
        {{editor actor.enrichedDescription target="system.npcStats.description" button=true owner=owner editable=editable}}
      </div>

    </section>
</form>

