<form class="{{cssClass}}" style="overflow:scroll;" autocomplete="off">

    {{!-- Header --}}
    <header style="height: 175px; width: 100%; min-width: 700px; margin-bottom: 5px;">

        {{!-- Character Image --}}
        <div class="profile-img" style="float: left;"><img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="175px" width="175px"></div>

        {{!-- Character Name --}}
        <div style="float: left; display: inline-flex; width: 75%;">
            <h1 class="charname-2"><input onfocus="this.select();" name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
        </div>

        {{!-- Character Info --}}
        <div style="float: left; display: inline-flex; width: 50%; margin-bottom: 5px;">
            <div class="flex-group-center" style="margin-left:5px; width:33%;">
                <label for="system.about.class" class="resource-label">Class</label>
                <input onfocus="this.select();" class="resource-content" type="text" name="system.about.class" value="{{actor.system.about.class}}" data-dtype="String"/>
            </div>
            <div class="flex-group-center" style="margin-left:5px; width:20%;">
                <label for="system.about.level.value" class="resource-label">Level</label>
                <input onfocus="this.select();" class="resource-content" type="text" name="system.about.level.value" value="{{actor.system.about.level.value}}" data-dtype="Number"/>
            </div>
            <div class="flex-group-center" style="margin-left:5px; width:47%;">
              <label for="system.resources.bonusRests.value" class="resource-label">Bonus WILL (Rests)</label>
              <input onfocus="this.select();" class="resource-content" style="width: 50%;" type="text" name="system.resources.bonusRests.value" value="{{actor.system.resources.bonusRests.value}}" data-dtype="Number"/> / {{actor.system.abilities.con.mod}}
          </div>
        </div>
        <div style="float: left; display: inline-flex; width: 50%;">
            <div class="flex-group-center" style="margin-left:5px; width:50%;">
                <label for="system.about.background" class="resource-label">Background</label>
                <input onfocus="this.select();" class="resource-content" type="text" name="system.about.background" value="{{actor.system.about.background}}" data-dtype="String"/>
            </div>
            <div class="flex-group-center" style="margin-left:5px; width:50%;">
              <label for="system.about.race" class="resource-label">Race</label>
              <input onfocus="this.select();" class="resource-content" type="text" name="system.about.race" value="{{actor.system.about.race}}" data-dtype="String"/>
            </div>
        </div>

        {{!-- Rest Buttons --}}
        <div style="width: 23%; float: left; margin-top: -61px; margin-left: 5px;">
            <div style="padding-bottom: 3px;">
                <button id="short-rest" type="button">Short Rest</button>
            </div>
            <div>
                <button id="long-rest" type="button">Long Rest</button>
            </div>
            <div class="flex-group-center" style="margin-top: 3px; margin-left:2px; padding-bottom: 2px;">
                <label for="system.resources.rests" class="resource-label" style="font-size: small;">Rests</label>
                <div class="resource-content flexrow flex-center flex-between">
                  <input onfocus="this.select();" style="height: 10px; width: 10px;" type="checkbox" name="system.resources.rests.oneWill" {{checked actor.system.resources.rests.oneWill}} data-dtype="Boolean"/><label for="system.resources.rests.oneWill" style="font-size:90%">1X</label>
                  <input onfocus="this.select();" style="height: 10px; width: 10px;" type="checkbox" name="system.resources.rests.twoWill" {{checked actor.system.resources.rests.twoWill}} data-dtype="Boolean"/><label for="system.resources.rests.twoWill" style="font-size:90%">2X</label>
                  <input onfocus="this.select();" style="height: 10px; width: 10px;" type="checkbox" name="system.resources.rests.threeWill" {{checked actor.system.resources.rests.threeWill}} data-dtype="Boolean"/><label for="system.resources.rests.threeWill" style="font-size:90%">3X</label>
                </div>
              </div>
        </div>
    </header>

    {{!-- Sidebar --}}
    <div id="char-sidebar">

        {{!-- Vitality Stats --}}
        <div class="flex-group-center" style="width:50%; float: left;">
            <label for="system.health.value" class="resource-label">HP</label>
            <div>
                <input onfocus="this.select();" style="width: 35%;" class="resource-content" type="text" name="system.health.value" value="{{actor.system.health.value}}" data-dtype="Number"/>
                <span> / </span>
                <input onfocus="this.select();" style="width: 35%;" class="resource-content" type="text" name="system.health.max" value="{{actor.system.health.max}}" data-dtype="Number"/>
            </div>
        </div>
        <div class="flex-group-center" style="width:50%; float: left;">
            <label for="system.health.temp" class="resource-label">Temp HP</label>
            <input onfocus="this.select();" class="resource-content" type="text" name="system.health.temp" value="{{actor.system.health.temp}}" data-dtype="Number"/>
        </div>
        <div class="flex-group-center" style="width:50%; float: left;">
            <label for="system.ac.value" class="resource-label">AC</label>
            <div>
                <input onfocus="this.select();" class="resource-content" type="text" name="system.ac.value" value="{{actor.system.ac.value}}" data-dtype="Number"/>
            </div>
        </div>
        <div class="flex-group-center" style="width:50%; float: left;">
            <label for="system.ac.temp" class="resource-label">Temp AC</label>
            <input onfocus="this.select();" class="resource-content" type="text" name="system.ac.temp" value="{{actor.system.ac.temp}}" data-dtype="Number"/>
        </div>
        <div class="flex-group-center" style="width:50%; float: left;">
            <label for="system.attributes.initBonus.value" class="resource-label">Init</label>
            <div>
                <input onfocus="this.select();" class="resource-content" type="text" name="system.attributes.initBonus.value" value="{{actor.system.attributes.initBonus.value}}" data-dtype="Number"/>
            </div>
        </div>
        <div class="flex-group-center" style="width:50%; float: left;">
            <label for="system.attributes.attackBonus.value" class="resource-label" title="Attack Bonus">Atk</label>
            <input onfocus="this.select();" class="resource-content" type="text" name="system.attributes.attackBonus.value" value="{{actor.system.attributes.attackBonus.value}}" data-dtype="Number"/>
        </div>

        {{!-- Crit Range --}}
        <div class="resource flex-group-center">
            <label for="system.attributes.critRange.value" class="resource-label">Crit Range</label>
            <select name="system.attributes.critRange.value" data-dtype="String">
              {{#select actor.system.attributes.critRange.value}}
              <option value="20">20</option>
              <option value="19-20">19-20</option>
              <option value="18-20">18-20</option>
              {{/select}}
            </select>
        </div>
        
        {{!-- Attributes --}}
        <table id="char-sidebar-table">
            <tr>
                <th>Attr</th>
                <th>Base</th>
                <th>Current</th>
                <th>Mod</th>
            </tr>
            {{#each actor.system.abilities as |ability key|}}
            <tr>
                <td>
                    <label
                        for="system.abilities.{{key}}.value"
                        class="resource-label rollable"
                        data-value="{{ability.value}}"
                        data-label="{{key}}">
                        {{key}}
                    </label>
                </td>
                <td>
                    <input onfocus="this.select();" type="text" name="system.abilities.{{key}}.base" value="{{ability.base}}" data-dtype="Number"/>
                </td>
                <td>
                    <input onfocus="this.select();" type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
                </td>
                <td>
                    {{numberFormat ability.mod decimals=0 sign=true}}
                </td>
            </tr>
            {{/each}}
        </table>

        {{!-- Luck --}}
        <div class="resource  flex-group-center">
            <label 
              for="system.resources.luck.value" 
              class="resource-label rollable-luck" 
              data-resource="luck" 
              data-roll="1d20"
              data-value="{{actor.system.resources.luck.value}}" 
              data-label="Luck"
            >
              Luck
            </label>
            <span>
              <select style="height: 35%; margin-bottom: 2px;" id="luck-modifier">
                <option data-attr="" data-mod="0">  </option>
                {{#each actor.system.abilities}}
                  <option data-attr="{{@key}}" data-mod="{{mod}}">{{@key}}</option>
                {{/each}}
              </select>
            </span>
            <div class="resource-content flexrow flex-center flex-between">
              <input onfocus="this.select();" type="text" name="system.resources.luck.value" value="{{actor.system.resources.luck.value}}" data-dtype="Number"/>
              <span> / </span>
              <input onfocus="this.select();" type="text" name="system.resources.luck.max" value="{{actor.system.resources.luck.max}}" data-dtype="Number"/>
            </div>
        </div>

        {{!-- Reroll --}}
        <div class="resource flex-group-center">
            <label for="system.resources.reroll.value" class="resource-label">Reroll</label>
              <div class="resource-content flexrow flex-center flex-between">
                <input onfocus="this.select();" type="text" name="system.resources.reroll.value" value="{{actor.system.resources.reroll.value}}" data-dtype="Number"/>
                <span> / </span>
                <input onfocus="this.select();" type="text" name="system.resources.reroll.max" value="{{actor.system.resources.reroll.max}}" data-dtype="Number"/>
              </div>
          </div>

        {{!-- Favour and DDM --}}
        <div class="flex-group-center" style="width:50%; float: left;">
            <label for="system.attributes.favour" class="resource-label" title="Attack Bonus">Favour</label>
            <input onfocus="this.select();" style="width: 18px; height: 18px;" type="checkbox" name="system.attributes.favour" {{checked actor.system.attributes.favour}} data-dtype="Boolean"/>
        </div>
        <div class="flex-group-center" style="width:50%; float: left;">
            <label
              for="system.effects.ddm.value" 
              class="resource-label rollable-ddm" 
              data-resource="ddm" 
              data-roll="1d20"
              data-value="{{actor.system.effects.ddm.value}}" 
              data-label="DDM">DDM</label>
              <input onfocus="this.select();" class="resource-content" type="text" name="system.effects.ddm.value" value="{{actor.system.effects.ddm.value}}" data-dtype="Number"/>
        </div>
    </div>

    {{!-- Skills Bar --}}
    <div id="skills-bar">
        <div style="margin-bottom: 5px;">
            <div class="grid grid-4col skill-grid">
              <div class="grid-item" ></div>
              <div class="grid-item" style="font-size:smaller;">Skilled</div>
              <div class="grid-item">GS</div>
              <div class="grid-item">TF</div>
            </div>
            {{#each actor.system.skills as |skill key|}}
              <div class="grid grid-4col skill-grid">
                <label 
                  for="system.skills.{{key}}.value" 
                  class="resource skill-label rollable grid-item" 
                  data-value="{{skill.value}}"
                  data-skilled="{{skill.skilled}}" 
                  data-label="{{key}}"
                  style="font-size: 0.85em; text-align: left;"
                >
                  {{key}}
                </label>
                <input class="skill-proficient grid-item" style="margin-left: 18px; height:12px; width:12px;" type="checkbox" name="system.skills.{{key}}.skilled" {{checked skill.skilled}} value="{{skill.skilled}}" data-skill="{{key}}" data-dtype="Boolean"/>
                <div class="grid-item" data-label="{{key}}"><strong>{{numberFormat skill.gs decimals=0 sign=false}}</strong></div>
                <div class="grid-item" data-label="{{key}}"><strong>{{numberFormat skill.tf decimals=0 sign=false}}</strong></div>
              </div>
           {{/each}}
          </div>

          {{!-- Custom Skills --}}
          <div style="width: 90%;">
            <label for="custom-skills" class="resource-label">Custom Skills</label>
            <ol class="item-list">
                <li class="item flexrow item-header">
                  <div class="item-name" style="width: 350%; font-family: Aquifer;">Name</div>
                  <div class="item-skilled"></div>
                  <div class="item-controls">
                    <a class="item-control item-create" title="Create item" data-type="skill"><i class="fas fa-plus"></i> Add Skill</a>
                  </div>
                </li>
            {{#each actor.skills as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <h4
                        class="item-name custom-skill"
                        style="font-size: .85em;"
                        data-value="{{item.system.attr}}"
                        data-skilled="{{item.system.skilled}}"
                        data-label="{{item.name}}">{{item.name}}</h4>
                    <div class="item-skilled" style="margin-right: -25px;"><input style="width: 12px; height: 12px;" type="checkbox" {{checked item.system.skilled}} value="{{item.system.skilled}}" disabled></div>
                    <div class="item-controls" style="flex: 0 0 48px;">
                        <a class="item-control item-edit" title="Edit Skill"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Skill"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
          </div>

    </div>

    {{!-- Nav --}}
    <nav class="sheet-tabs tabs" style="height: fit-content; margin-bottom: 10px;" data-group="primary">
        <a class="item" style="line-height: 0px;" data-tab="items">Equipment</a>
        <a class="item" style="line-height: 0px;" data-tab="features">Features</a>
        <a class="item" style="line-height: 0px;" data-tab="magic">Magic</a>
        <a class="item" style="line-height: 0px;" data-tab="notes">Notes</a>
    </nav>

    {{!-- Remainder of Sheet Body --}}
    <section class="sheet-body2">

        {{!-- Equipment Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <div class="resources grid grid-2col">
              <div class="resource-content flex-group-center">
                <label for="system.resources.gold.value" class="resource-label">Gold</label>
                <input onfocus="this.select();" class="resource-content" type="text" name="system.resources.gold.value" value="{{actor.system.resources.gold.value}}" data-dtype="Number"/>
              </div>
  
              <div class="resource-content flex-group-center">
                <label for="system.resources.rations.value" class="resource-label">Rations</label>
                <input onfocus="this.select();" class="resource-content" type="text" name="system.resources.rations.value" value="{{actor.system.resources.rations.value}}" data-dtype="Number"/>
              </div>
            </div>

            {{!-- alternate currencies --}}
            <div style="padding-top: 7px; text-align: center;">
              <label class="resource-label">Alternate Currency</label>
            </div>
            <div class="resources grid grid-5col">
              <div class="resource-content flex-group-center">
                <input onfocus="this.select();" class="resource-content" style="font-size: small;" type="text" name="system.resources.altCurrency1.name" value="{{actor.system.resources.altCurrency1.name}}" data-dtype="String"/>
                <input onfocus="this.select();" class="resource-content" type="text" name="system.resources.altCurrency1.value" value="{{actor.system.resources.altCurrency1.value}}" data-dtype="String"/>
              </div>
              <div class="resource-content flex-group-center">
                <input onfocus="this.select();" class="resource-content" style="font-size: small;" type="text" name="system.resources.altCurrency2.name" value="{{actor.system.resources.altCurrency2.name}}" data-dtype="String"/>
                <input onfocus="this.select();" class="resource-content" type="text" name="system.resources.altCurrency2.value" value="{{actor.system.resources.altCurrency2.value}}" data-dtype="String"/>
              </div>
              <div class="resource-content flex-group-center">
                <input onfocus="this.select();" class="resource-content" style="font-size: small;" type="text" name="system.resources.altCurrency3.name" value="{{actor.system.resources.altCurrency3.name}}" data-dtype="String"/>
                <input onfocus="this.select();" class="resource-content" type="text" name="system.resources.altCurrency3.value" value="{{actor.system.resources.altCurrency3.value}}" data-dtype="String"/>
              </div>
              <div class="resource-content flex-group-center">
                <input onfocus="this.select();" class="resource-content" style="font-size: small;" type="text" name="system.resources.altCurrency4.name" value="{{actor.system.resources.altCurrency4.name}}" data-dtype="String"/>
                <input onfocus="this.select();" class="resource-content" type="text" name="system.resources.altCurrency4.value" value="{{actor.system.resources.altCurrency4.value}}" data-dtype="String"/>
              </div>
              <div class="resource-content flex-group-center">
                <input onfocus="this.select();" class="resource-content" style="font-size: small;" type="text" name="system.resources.altCurrency5.name" value="{{actor.system.resources.altCurrency5.name}}" data-dtype="String"/>
                <input onfocus="this.select();" class="resource-content" type="text" name="system.resources.altCurrency5.value" value="{{actor.system.resources.altCurrency5.value}}" data-dtype="String"/>
              </div>
            </div>
  
            <div>
              
              <ol class="item-list">
                  <li class="item flexrow item-header">
                    <label for="weapons" class="resource-label">Weapons</label>
                    <div class="item-image"></div>
                    <div class="item-amt" style="margin-right: -50px;">Ammo/Number</div>
                    <div class="item-controls">
                      <a class="item-control item-create" title="Create item" data-type="weapon"><i class="fas fa-plus"></i> Add Wpn</a>
                    </div>
                  </li>
              {{#each actor.weapons as |item id|}}
                  <li class="item flexrow" data-item-id="{{item._id}}">
                      <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                      <h4 class="item-name weapon-chat" style="font-size: small;">{{item.name}}</h4>
                      <div class="item-amt" style="flex: 0 0 110px;">{{system.ammo}} &emsp;
                        <a class="item-control item-add" title="Add Ammo/Charges/Amt"><i class="fas fa-plus"></i></a>
                        <a class="item-control item-subtract" title="Subtract Ammo/Charges/Amt"><i class="fas fa-minus"></i></a>
                      </div>
                      <div class="item-controls" style="flex: 0 0 48px;">
                          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                      </div>
                  </li>
              {{/each}}
              </ol>
            </div>
  
            <div>
              
              <ol class="item-list">
                  <li class="item flexrow item-header">
                    <label for="items" class="resource-label">Items</label>
                    <div class="item-image"></div>
                    <div class="item-image"></div>
                    <div class="item-amt" style="margin-right: -20px;">Charges/Number</div>
                    <div class="item-controls">
                      <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add Item</a>
                    </div>
                  </li>
              {{#each actor.gear as |item id|}}
                  <li class="item flexrow" data-item-id="{{item._id}}">
                      <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                      <h4 class="item-name item-chat" style="font-size: small;">{{item.name}}</h4>
                      <div class="item-amt" style="flex: 0 0 110px;">{{system.quantity}} &emsp;
                        <a class="item-control item-add" title="Add Ammo/Charges/Amt"><i class="fas fa-plus"></i></a>
                        <a class="item-control item-subtract" title="Subtract Ammo/Charges/Amt"><i class="fas fa-minus"></i></a>
                      </div>
                      <div class="item-controls" style="flex: 0 0 48px;">
                          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                      </div>
                  </li>
              {{/each}}
              </ol>
            </div>
  
          </div>

        {{!-- Features Tab --}}
        <div class="tab features" data-group="primary" data-tab="features">
            <div>
              
              <ol class="item-list">
                <li class="item flexrow item-header">
                  <label for="features" class="resource-label">Features</label>
                  <div class="item-image"></div>
                  <div class="item-image"></div>
                  <div class="item-amount" style="padding-left: 90px;">Uses</div>
                  <div class="item-controls">
                    <a class="item-control item-create" title="Create item" data-type="feature"><i class="fas fa-plus"></i> Add Ability</a>
                  </div>
                </li>
            {{#each actor.features as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                    <div><h4 class="item-name item-chat" style="font-size: small; margin-right: 5px;">{{item.name}}</h4></div>
                    <div class="item-amt" style="flex: 0 0 110px;">{{system.uses.value}} / {{system.uses.max}} &emsp;
                        <a class="item-control item-add" title="Add Ammo/Charges/Amt"><i class="fas fa-plus"></i></a>
                        <a class="item-control item-subtract" title="Subtract Ammo/Charges/Amt"><i class="fas fa-minus"></i></a>
                      </div>
                    <div class="item-controls" style="flex: 0 0 48px;">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
            </div>
          </div>

        {{!-- Magic Tab --}}
        <div class="tab magic" data-group="primary" data-tab="magic">
            <div class="grid grid-4col" style="padding-left: 30px;">
                {{#each actor.system.spellSlots as |slot key|}}
                    <div class="item-name" style="padding:0; margin-top: 3px;">
                        {{key}} Slots
                        <div>
                            <input onfocus="this.select();" style="width: 5%;" type="text" name="system.spellSlots.{{key}}.current" value="{{slot.current}}" data-dtype="Number" /> / <input onfocus="this.select();" style="width: 5%;" type="text" name="system.spellSlots.{{key}}.max" value="{{slot.max}}" data-dtype="Number" />
                        </div>
                    </div>
                {{/each}}
            </div>
                  <ol class="item-list">
                    <li class="item flexrow item-header">
                      <div class="item-image"></div>
                      <div class="item-name"></div>
                      <div class="item-controls"></div>
                    </li>
                    {{#each actor.spells as |spells spellLevel|}}
                    <li class="item flexrow item-header">
                      <div class="item-name">Level {{spellLevel}} Spells</div>
                        <div class="item-controls">
                          <a class="item-control item-create" title="Create item" data-type="spell" data-spell-level="{{spellLevel}}"><i class="fas fa-plus"></i> Add LVL {{spellLevel}}</a>
                        </div>
                      </li>
                        {{#each spells as |item id|}}
                          <li class="item flexrow" data-item-id="{{item._id}}">
                              <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                              <h4 class="item-name spell-chat" style="font-size: small;">{{item.name}}</h4>
                              <div class="item-controls">
                                  <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                              </div>
                          </li>
                        {{/each}}
                      {{/each}}
                </ol>
          </div>

        {{!-- Notes Tab --}}
        <div class="tab notes" style="color:black;" data-group="primary" data-tab="notes">
            <div class="resources grid">  
              <div class="resource-content flex-group-center" style="width: 200%; margin-bottom: 5px;">
                <label for="system.effects.otherFX" class="resource-label">Other Effects</label>
                <input onfocus="this.select();" class="resource-content" type="text" name="system.effects.otherFX" value="{{actor.system.effects.otherFX}}" data-dtype="String"/>
              </div>
            </div>
  
            <div>
              
              <ol class="item-list">
                  <li class="item flexrow item-header">
                    <label for="injSetback" class="resource-label">Injuries and Setbacks</label>
                    <div class="item-image"></div>
                    <div class="item-controls">
                      <a class="item-control item-create" title="Create item" data-type="injSetback"><i class="fas fa-plus"></i> Add Injury</a>
                    </div>
                  </li>
              {{#each actor.injSetbacks as |item id|}}
                  <li class="item flexrow" data-item-id="{{item._id}}">
                      <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                      <h4 class="item-name item-chat">{{item.name}}</h4>
                      <div class="item-controls">
                          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                      </div>
                  </li>
              {{/each}}
              </ol>
            </div>
  
            <div>
              
              <ol class="item-list">
                  <li class="item flexrow item-header">
                    <label for="madness" class="resource-label">Madness Traits</label>
                    <div class="item-image"></div>
                    <div class="item-controls">
                      <a class="item-control item-create" title="Create item" data-type="madness"><i class="fas fa-plus"></i> Add Trait</a>
                    </div>
                  </li>
              {{#each actor.madness as |item id|}}
                  <li class="item flexrow" data-item-id="{{item._id}}">
                      <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                      <h4 class="item-name item-chat">{{item.name}}</h4>
                      <div class="item-controls">
                          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                      </div>
                  </li>
              {{/each}}
              </ol>
            </div>
  
            <div>
              
              <ol class="item-list">
                  <li class="item flexrow item-header">
                    <label for="darkMagic" class="resource-label">Dark Magic Effects</label>
                    <div class="item-image"></div>
                    <div class="item-controls">
                      <a class="item-control item-create" title="Create item" data-type="darkMagic"><i class="fas fa-plus"></i> Add Effect</a>
                    </div>
                  </li>
              {{#each actor.darkMagic as |item id|}}
                  <li class="item flexrow" data-item-id="{{item._id}}">
                      <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                      <h4 class="item-name item-chat">{{item.name}}</h4>
                      <div class="item-controls">
                          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                      </div>
                  </li>
              {{/each}}
              </ol>
            </div> 
            <em>Notes:</em>
            {{editor actor.enrichedBiography target="system.biography" button=true owner=owner editable=editable}}
  
          </div>

    </section>
</form>