<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input onfocus="this.select();" name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="resources grid grid-4col">

                <div class="resource">
                    <label class="resource-label">Spell LVL</label>
                    <input onfocus="this.select();" type="text" name="system.spellLevel" value="{{item.system.spellLevel}}" data-dtype="Number"/>
                </div>
        
                <div class="resource">
                    <label class="resource-label">Range</label>
                    <input onfocus="this.select();" type="text" name="system.spellRange" value="{{item.system.spellRange}}" data-dtype="String"/>
                </div>
        
                <div class="resource">
                    <label class="resource-label">Duration</label>
                    <input onfocus="this.select();" type="text" name="system.spellDuration" value="{{item.system.spellDuration}}" data-dtype="String"/>
                </div>
        
                <div class="resource">
                    <label class="resource-label">Save</label>
                    <input onfocus="this.select();" type="text" name="system.spellSave" value="{{item.system.spellSave}}" data-dtype="String"/>
                </div>

            </div>
        </div>
    </header>


           


    {{!-- Fake Navigation to keep consistent title style --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <div class="item" data-tab="description">Description</div>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Spell Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor enrichedProperties target="system.properties" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>
