<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input onfocus="this.select();" name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <label for="uses" class="resource-label">Uses Remaining</label>
            <div class="resource-content flexrow flex-center flex-between">
                <input onfocus="this.select();" type="text" name="system.uses.value" value="{{item.system.uses.value}}" data-dtype="Number"/>
                <span> / </span>
                <input onfocus="this.select();" type="text" name="system.uses.max" value="{{item.system.uses.max}}" data-dtype="Number"/>
            </div>
        </div>
    </header>

    {{!-- Fake Navigation to keep consistent title style --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <div class="item" data-tab="properties">Properties</div>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Properties Tab --}}
        <div class="tab" data-group="primary" data-tab="properties">
            {{editor enrichedProperties target="system.properties" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>