<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input onfocus="this.select();" name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="resources grid grid-2col">

                <div class="resource">
                    <label class="resource-label">Weapon Type</label>
                    <input onfocus="this.select();" type="text" name="system.type" value="{{item.system.type}}" data-dtype="String"/>
                </div>
        
                <div class="resource">
                    <label class="resource-label">Reach / Range</label>
                    <input onfocus="this.select();" type="text" name="system.reachRange" value="{{item.system.reachRange}}" data-dtype="String"/>
                </div>

            </div>

            <div class="resources grid grid-2col">

                <div class="resource">
                    <label class="resource-label">Damage</label>
                    <input onfocus="this.select();" type="text" name="system.damage" value="{{item.system.damage}}" data-dtype="String"/>
                </div>
        
                <div class="resource">
                    <label class="resource-label">Nat19</label>
                    <input onfocus="this.select();" type="text" name="system.natNineteen" value="{{item.system.natNineteen}}" data-dtype="String"/>
                </div>

            </div>

            <div class="resources grid grid-2col">

                <div class="resource">
                    <label class="resource-label">Ammo/Charges/Number</label>
                    <input onfocus="this.select();" type="text" name="system.ammo" value="{{item.system.ammo}}" data-dtype="Number"/>
                </div>

            </div>

        </div>
    </header>


           


    {{!-- Fake Navigation to keep consistent title style --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <div class="item" data-tab="properties">Properties</div>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Weapon Properties Tab --}}
        <div class="tab" data-group="primary" data-tab="properties">
            {{editor enrichedProperties target="system.properties" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>