<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input onfocus="this.select();" name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Fake Navigation to keep consistent title style --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <div class="item" data-tab="properties">Properties</div>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Properties Tab --}}
        <div class="tab" data-group="primary" data-tab="properties">
            <div class="resources grid grid-2col">
                <div class="resource flex-group-center">
                    <label class="resource-label">Attribute</label>
                    <span>
                        <select name="system.attr" value="{{item.system.attr}}">
                            {{#select item.system.attr}}
                          <option value="str" selected>STR</option>
                          <option value="dex">DEX</option>
                          <option value="con">CON</option>
                          <option value="int">INT</option>
                          <option value="will">WILL</option>
                          <option value="perc">PERC</option>
                          <option value="cha">CHA</option>
                            {{/select}}
                        </select>
                    </span>
                </div>
    
                <div class="resource flex-group-center">
                    <label class="resource-label">Skilled?</label>
                    <input class="skill-proficient" type="checkbox" name="system.skilled" {{checked item.system.skilled}} value="{{system.skilled}}" data-dtype="Boolean" />
                </div>
            </div>
            {{editor enrichedProperties target="system.properties" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>