<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input onfocus="this.select();" name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>

            <div class="resources grid grid-3col">

                <div class="resource">
                    <label class="resource-label">Severity</label>
                    <input onfocus="this.select();" type="text" name="system.severity" value="{{item.system.severity}}" data-dtype="String"/>
                </div>
        
                <div class="resource">
                    <label class="resource-label">Frequency</label>
                    <input onfocus="this.select();" type="text" name="system.frequency" value="{{item.system.frequency}}" data-dtype="String"/>
                </div>

                <div class="resource">
                    <label class="resource-label">Penalty</label>
                    <input onfocus="this.select();" type="text" name="system.penalty" value="{{item.system.penalty}}" data-dtype="String"/>
                </div>

            </div>
        </div>
    </header>


           


    {{!-- Fake Navigation to keep consistent title style --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <div class="item" data-tab="properties">Properties</div>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Madness Flavor Tab --}}
        <div class="tab" data-group="primary" data-tab="properties">
            {{editor enrichedProperties target="system.properties" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>